/* line 4, ../sass/style.scss */
#currency-calc input {
  margin: 10px auto;
}
/* line 7, ../sass/style.scss */
#currency-calc input[type='submit'] {
  width: 50%;
  float: left;
}

/* line 15, ../sass/style.scss */
.errors ul {
  padding-left: 0px;
  list-style: none;
}
/* line 19, ../sass/style.scss */
.errors ul li {
  color: red;
  padding: 5px;
  border: 1px solid red;
}
