@import 'core';

#currency-calc {
	input {
		margin: 10px auto;

		&[type='submit'] {
			width: 50%;
			float: left;
		}
	}
}

.errors {
	ul {
		padding-left: 0px;
		list-style: none;

		li {
			color: red;
			padding: 5px;
			border: 1px solid red;
		}
	}
}